<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>虚拟货币</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">

    <script src="/scripts/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/scripts/js/hideshow.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery/jquery.equalHeight.js" type="text/javascript"></script>

    <!--iCheck插件引用-->
    <link rel="stylesheet" href="/iCheck/blue.css">
    <script src="/iCheck/icheck.js" type="text/javascript"></script>
    <style>
        a .fa{
            color:#000;
        }

        #sidebar .toggle .icon a{
            padding-left: 12px;
        }

        #userInfoTable tbody tr td{
            height: 30px;
        }

        .red{
            color: red;
        }

        .green{
            color: green;
        }

        .icheckbox_square-blue{
            display: block;
            margin: 0;
            padding: 0;
            width: 22px;
            height: 22px;
            background: '/iCheck/blue.png' no-repeat;
            /*background-size: 15px 15px;*/
            border: none;
            cursor: pointer;
        }

        /*.datasource_checkbox label{*/
            /*width: 100px;*/
            /*height: 100px;*/
        /*}*/
        .clock {
            font-size: 34px;
        }

        hr {
            margin-top: 0px;
        }
    </style>
</head>

<body>
<i class="icon-camera-retro"></i>
<!--header开始-->
<header id="header">
    <hgroup>
        <h1 class="site_title"><a href="index.html">虚拟货币管理系统</a></h1>
##        <h2 class="section_title">Dashboard</h2><div class="btn_view_site"><a href="http://www.medialoot.com">View Site</a></div>
    </hgroup>
</header>
<!--header结束-->

<section id="secondary_bar">
    <div class="user">
        <p>Gong Zechun (<a href="#">3 Messages</a>)</p>
        <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
    </div>
    <div class="breadcrumbs_container">
        <article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
    </div>
</section><!-- end of secondary bar -->

<aside id="sidebar" class="column">
    <span class="clock">
##        时间
    </span>
    <hr/>
    <h3>比特币</h3>
    <ul class="toggle">
        <li class="icon"><i class="fa fa-bitcoin fa-lg"></i><a href="#">比特币信息</a></li>
    </ul>

    <footer>
        <hr />
        <p><strong>Copyright &copy; 2016 Website Admin</strong></p>
        <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
    </footer>
</aside><!-- end of sidebar -->

<section id="main" class="column">

    <h4 class="alert_info">Welcome to the free MediaLoot admin panel template, this could be an informative message.</h4>

    <article class="module width_3_quarter datasource_checkbox">
        请选择数据来源!

##        <br/><a type="button" onclick="initTable()" style="cursor:pointer">查询</a>
    </article>


    <article class="module width_3_quarter">
        <header>
	    <h3 class="tabs_involved">比特币价格走势</h3>
            <ul class="tabs">
                <li><a href="#tab1">Posts</a></li>
                <li><a href="#tab2">Comments</a></li>
            </ul>
        </header>

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <table id="userInfoTable" class="tablesorter" cellspacing="0">
                    <thead>
                    <tr>
                        <th>货币类型</th>
                        <th>最新成交价（人民币）</th>
                        <th>最新成交价（美元）</th>
                        <th>最高价（人民币）</th>
                        <th>最高价（美元）</th>
                        <th>最低价（人民币）</th>
                        <th>最低价（美元）</th>
                        <th>买一价（人民币）</th>
                        <th>买一价（美元）</th>
                        <th>卖一价（人民币）</th>
                        <th>卖一价（美元）</th>
                        <th>成交量</th>
                        <th>数据来源</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!--内容填充-->
                        <!--1、根据用户的数据来源选择，生成tr和td标签-->
                        <!--2、在tr和td中填充数据：数据更新时，table不跳动，只有数据变化-->
                    </tbody>
                </table>
            </div><!-- end of #tab1 -->
        </div><!-- end of .tab_container -->
    </article><!-- end of content manager article -->

    <div class="clear"></div>

    <div class="spacer"></div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $(".tablesorter").tablesorter();
    });
    $(document).ready(function() {
        //When page loads...
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function() {
            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content

            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active ID content
            return false;
        });

    });

    $(function(){
        $('.column').equalHeight();
    });

    /*
    * 初试化table
    * */
    //定义全局定时器timer
    var timer = null;
    function initTable() {
        //清除定时器，结束之前的线程
        clearInterval(timer);
        $("#userInfoTable tbody").html("");
        var value = "";
        //trNum:table的行数; value：传给ajax的参数
        var trNum = 0;
        for (var i = 0; i < $("input[name='coinSource']").length; i++) {
            if ($("input[name='coinSource']")[i].checked) { //判断复选框是否选中
                value = value + $("input[name='coinSource']")[i].value + ",";
                trNum = trNum + 1;
            }
        }
        //删除最后一个分号
        value = value.substring(0, value.length - 1);

        /**
         * 动态生成tr和td标签
         */
        //目前需要初始化的行数为trNum,列数为tdNum（13）
        var tdNum = 13;
        var trTdTag = "";
        //拼装空的tr、td标签
        if(trNum > 0) {
            for(var trIndex = 0; trIndex < trNum; trIndex++) {
                trTdTag = trTdTag + "<tr>";
                for(var tdIndex = 0; tdIndex < tdNum; tdIndex++) {
                    trTdTag = trTdTag + "<td></td>";
                }
                trTdTag = trTdTag + "</tr>";
            }
            $("#userInfoTable tbody").append(trTdTag);
        }

        //加载数据--做个非空判断，免得后台报空指针异常
        if(value != null && value != "") {
            getCoinInfo(value);
            //接口三秒返回一次数据，所以这里的定时器也设置为3秒
            timer = setInterval(function() { getCoinInfo(value); }, 3000);
        }
    }

    //在table的空的td标签中填入数据
    function getCoinInfo(value) {
        $.ajax({
            type: "POST",
            url: "/coin/data",
            dataType: "json",
            //async: false,
            data: {
                "coinDataParam" : value,
            },
            success: function(data) {
                for(var i in data) {
                    //将json字符串转为json（对象）
                    var temp = JSON.parse(data[i]);
                    for(var j = 0; j < 13; j++) {
                        var tempTd = $($("#userInfoTable tbody tr")[i]).find("td").eq(j);
                        var tempIdValue = tempTd.html().substring(1, tempTd.html().length);
                        switch(j) {
                            case 0:
                                tempTd.html(temp['datas']['coinName']);
                                break;
                            case 1:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['last']);
                                }
                                tempTd.html('￥' + temp['datas']['ticker']['last']);
                                break;
                            case 2:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['dollar']);
                                }
                                tempTd.html('$' + temp['datas']['ticker']['dollar']);
                                break;
                            case 3:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['high']);
                                }
                                tempTd.html('￥' + temp['datas']['ticker']['high']);
                                break;
                            case 4:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['highdollar']);
                                }
                                tempTd.html('$' + temp['datas']['ticker']['highdollar']);
                                break;
                            case 5:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['low']);
                                }
                                tempTd.html('￥' + temp['datas']['ticker']['low']);
                                break;
                            case 6:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['lowdollar']);
                                }
                                tempTd.html('$' + temp['datas']['ticker']['lowdollar']);
                                break;
                            case 7:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['buy']);
                                }
                                tempTd.html('￥' + temp['datas']['ticker']['buy']);
                                break;
                            case 8:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['buydollar']);
                                }
                                tempTd.html('$' + temp['datas']['ticker']['buydollar']);
                                break;
                            case 9:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['sell']);
                                }
                                tempTd.html('￥' + temp['datas']['ticker']['sell']);
                                break;
                            case 10:
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['selldollar']);
                                }
                                tempTd.html('$' + temp['datas']['ticker']['selldollar']);
                                break;
                            case 11:
                                tempIdValue = tempTd.html().substring(0, tempTd.html().length);
                                if(tempIdValue != null && tempIdValue != "") {
                                    changeColor(tempTd, tempIdValue, temp['datas']['ticker']['vol']);
                                }
                                tempTd.html(temp['datas']['ticker']['vol']);
                                break;
                            case 12:
                                tempTd.html(temp['datas']['cName']);
                                break;
                        }
                    }
                }
            },
            error: function(e) { //服务器响应失败处理函数
                console.log(e);
            }
        });
    }

//    iCheck插件引用
    $(function() {
        $("input[name='coinSource']").iCheck({
            labelHover : false,
            cursor : true,
            checkboxClass : 'icheckbox_square-blue',
            radioClass : 'iradio_square-blue',
            increaseArea : '22%'
        });
    });

    /**
     * 单元格红绿色样式转变
     * @param td 要转变样式的td
     * @param orignalData 原始数据
     * @param curData 当前数据
     */
    function changeColor(td, orignalData, curData) {
        if (orignalData < curData) {
            td.removeClass("green");
            td.addClass("red");
        } else if (orignalData > curData) {
            td.removeClass("red");
            td.addClass("green");
        } else {
            td.removeClass("red");
            td.removeClass("green");
        }
    }

     $(function() {
        fillCheckbox();

         setInterval(function() {
             var timeTag = getSystemTime();
             console.log(timeTag);
             $("#sidebar .clock").html("");
             $("#sidebar .clock").append(timeTag);
         }, 1000);
    });

    //填充选择框：
    function fillCheckbox() {
        var inputParamJson = $!inputParam;
        var inputHtml = "<br/>";
        for(var cName in inputParamJson) {
            inputHtml = inputHtml + "<label><input name='coinSource' type='checkbox' value='" + $.trim(inputParamJson[cName]) + "'/>" + $.trim(cName) + "</label>&nbsp;&nbsp;&nbsp;&nbsp;";
        }
        inputHtml = inputHtml + "<br/><a type='button' onclick='initTable()' style='cursor:pointer'>查询</a>";
        $(".datasource_checkbox").append(inputHtml);
    }

    var timeTag;
    function getSystemTime() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = addZero(date.getMinutes());
        var second = addZero(date.getSeconds());
        return timeTag = year + '年' + month + '月' + day + '日 ' + hour + ':' + minute + ':' + second;
    };

    //个位补零
    function addZero(param) {
        if(parseInt(param) < 10) {
            return "0" + param;
        }else{
            return param;
        }
    }
</script>
</body>
</html>
